<!DOCTYPE html>
<html class="full" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Remy</title>

    <link rel="shortcut icon" href="img/kitchen_knife.png">
    <!-- TODO(jdlew): Try using glyphicon instead of external img? -->
    <!--span class="glyphicon glyphicon-cutlery"></span-->

    <!-- Custom JS -->
    <script src="js/remy.js"></script>
    <script src="js/utils.js"></script>

    <!-- Bootstrap Core CSS -->
    <!--link href="css/bootstrap.min.css" rel="stylesheet"-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link href="css/remy.css" rel="stylesheet">
  </head>

  <body>
    <!-- Top Navigation -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <!--div class="container-fluid"-->
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Remy</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="./">Default</a></li>
            <li class="active"><a href="./">Static top</a></li>
            <li><a href="./">Fixed top</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Page Content -->
    <div class="container">
      <!--div class="row row-centered">
        <h1>REMY</h1>
        <p>Find your favorite dishes.</p>
      </div-->
      <!-- /.row -->
      <div class="row" style="padding: 50px 100px 50px;">
        <form id="search" role="form">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="menu search">
            <!-- TODO(jdlew): Replace 'input-group-btn' below with this if
            we don't want the search icon to be clickable.-->
            <!--span class="input-group-addon">
              <span class="glyphicon glyphicon-cutlery"></span>
            </span-->
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-cutlery"></span>
              </button>
            </span>
          </div>
        </form>
      </div>
      <!-- /.row -->

      <!-- Search Results -->
      <div id="results" style="display: none;">

        <!-- Pagination -->
        <!--div class="row text-center">
          <div class="col-lg-12">
            <ul class="pagination">
              <li class="disabled">
                <a href="#">&laquo;</a>
              </li>
              <li class="active">
                <a href="#">1</a>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
              <li>
                <a href="#">4</a>
              </li>
              <li>
                <a href="#">5</a>
              </li>
              <li>
                <a href="#">&raquo;</a>
              </li>
            </ul>
          </div>
        </div-->
        <!-- /.row -->
      </div>
      <!-- End Search Results -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; Remy 2014</p>
      </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <!--script src="js/jquery-1.11.0.js"></script-->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

    <script>
      $("#search").submit(function(event) {
        get_restaurants();
        event.preventDefault();
      });
    </script>

    <!-- Bootstrap Core JavaScript -->
    <!--script src="js/bootstrap.min.js"></script-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
